@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Users";
}

@if (Context.User.Identity.IsAuthenticated)
{
    <input type="hidden" id="mainChat" value="1" />
    <div class="container-fluid;" id="NotificationContainer"></div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="container-fluid; overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" id="chatContainer" style="border:1px solid #cecece; height: 300px"></div>
            <div>&nbsp;</div>
            <div>
                <form class="col-12 col-md-12">
                    <div><input type="text" id="messageInput" class="form-control" placeholder="write a message..." /></div>
                    <div class="row">&nbsp;</div>
                    <div><input type="submit" input name="submit" id="sendButton" value="Send Message" class="btn btn-primary" /></div>
                </form>
            </div>
            <div>&nbsp;</div>
        </div>
        <div class="col-12 col-md-2">
            <p>Сhoose a chat room to join a chat:</p>
            <div class="list-group overflow-auto text-break" style="height: 450px">
                @foreach (var group in @ViewBag.Groups)
                {
                    <a type="button" class="list-group-item list-group-item-action"
                       asp-controller="Chat" asp-action="Groups" asp-route-id="@group.Id">
                        @group.GroupName
                    </a>
                }
            </div>
        </div>
        <div class="col-12 col-md-2">
            <p>Click on user to send a private message:</p>
            <div class="list-group overflow-auto text-break" style="height: 450px">
                @foreach (var user in @ViewBag.users)
                {
                    if (user.IsConnected == true)
                    {
                        <a type="button" id="@user.UserName" class="list-group-item list-group-item-action" style="background-color:#DCAE1D"
                           asp-controller="Chat" asp-action="UserPrivateChat" asp-route-userName="@user.UserName">
                            @user.UserName
                        </a>
                    }
                    else
                    {
                        <a type="button" id="@user.UserName" class="list-group-item list-group-item-action"
                           asp-controller="Chat" asp-action="UserPrivateChat" asp-route-userName="@user.UserName">
                            @user.UserName
                        </a>

                    }
                }
            </div>
        </div>
    </div>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
}
